In [5]:
import math

math.sin(3.14)
math.pi

3.141592653589793

In [4]:
list1 = [4, 3, 1, 1, 6]
list1.sort()
print(list1)

[1, 1, 3, 4, 6]

In [5]:
def solution(ranks):
    subordinate_soldiers = 0
    
    ranks.sort()
    
    previous_rank = ranks[0]
    soldiers_in_rank = 1
    for rank in ranks[1:]:
        if rank == previous_rank:
            soldiers_in_rank += 1
            next
        elif rank == previous_rank + 1:
            subordinate_soldiers += soldiers_in_rank
            soldiers_in_rank = 1
            previous_rank = rank
        else:
            soldiers_in_rank = 1
            previous_rank = rank
    
    return subordinate_soldiers

In [71]:
import math
import pandas as pd

def solution(S, X, Y):
    # write your code in Python 3.6
    
    def xy_to_rho(row):
        return math.sqrt(row.x**2 + row.y**2)
    
    df = pd.DataFrame({
        's': S, 
        'x': X,
        'y': Y
    })
    
    df['rho'] = df[['x', 'y']].apply(xy_to_rho, axis=1)
    df.drop(columns=['x', 'y'], inplace=True)
    df = df.sort_values(by='rho').reset_index(drop=True)
    print(df[df['s'].duplicated() == True].index[0])
    print(df.head())

In [123]:
import math

def solution(S, X, Y):
    # write your code in Python 3.6
    
    def xy_to_rho(x, y):
        return math.sqrt(x**2 + y**2)
    
    s_rho = sorted(zip(S, map(xy_to_rho, X, Y)), key=lambda tup: tup[1])
    print(s_rho[2])
    circled_tags = set()
    for i, (s, r) in enumerate(s_rho):
        if s in circled_tags:
            if s_rho[i+1][1] == r:
                return i-1
            else:
                return i
        circled_tags.add(s)

In [124]:
S = ['A', 'B', 'D', 'C', 'A']
X = [2, -1, -4, -3, 3]
Y = [2, -2, 4, 1, -3]
solution(S, X, Y)

('C', 3.1622776601683795)

3